<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>django web rtc</title>
    <link rel="stylesheet" href="{% static 'chat/css/style.css' %}">
</head>
<body>
    <h3 id="usernamel"> username </h3>
    <div>
    <input id="usernameinput"> <button id="join-btn">join</button>
    </div>
    <div class="main_container">
        <div id="video_container">
           <div> <video id="local_video" style="float:left;" autoplay playsinline defer></video></div>
            <button id="btn_video_mute">video mute</button>
            <button id="btn_audio_mute">audio mute</button>
        </div>
        <div id="chat">
            <h3>chat</h3>
            <div id="message">
                <ul id="message-list"></ul>
            </div>
            <div><input type="text" id="message_input"><button id="send_btn">send message</button></div>
        </div>
    </div>
    <h1>Maze Game with WebRTC</h1>
    <div id="maze-container"></div>
    <button id="move-up">Move Up</button>
    <button id="move-down">Move Down</button>
    <button id="move-left">Move Left</button>
    <button id="move-right">Move Right</button>

    <script src="{% static 'chat/js/main.js' %}"></script>
    <script src="{% static 'chat/js/maze.js' %}"></script>
</body>
</html>