<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>django web rtc</title>
    <link rel="stylesheet" href="{% static 'chat/css/style.css' %}">
</head>
<body>
    <h3 id="usernamel">{{ user.username }}</h3>
    <div>
    <button id="join-btn">join</button>
    </div>
    <div class="main_container">
        <div id="video_container">
           <div> <video id="local_video" style="float:left;" autoplay playsinline defer></video></div>
            <button id="btn_video_mute">video mute</button>
            <button id="btn_audio_mute">audio mute</button>
        </div>
        <div id="chat">
            <h3>chat</h3>
            <div id="message">
                <ul id="message-list"></ul>
            </div>
            <div><input type="text" id="message_input"><button id="send_btn">send message</button></div>
        </div>
    </div>
    <div id="turn-indicator">Loading...</div>
    <canvas id="mazeCanvas" width="500" height="500"></canvas>


    
    <script src="{% static 'chat/js/chat_.js' %}"></script>
    <script src="{% static 'chat/js/maze_.js' %}"></script>
</body>
</html>